
.patient-summary {
  padding: var(--space-4x);
  border: 1px solid var(--clr-neutral-40);
  border-radius: var(--radius-2);
  background: var(--color-surface, #fff);

  &:has(.positive) {
    border-inline-start: 6px solid var(--clr-success-100);
  }

  &:has(.negative) {
    border-inline-start: 6px solid var(--clr-error-100);
  }

  &:has(.neutral) {
    border-inline-start: 6px solid var(--clr-pumpkin-100);
  }
}

.patient-id {
  margin-inline: 0;
  font-size: var(--fontsize-1);
  font-weight: var(--fontweight-bold);
  color: var(--clr-neutral-900);
}

.sentiment {
  display: grid;
  place-items: center;
  min-inline-size: 12ch;
  padding-block: var(--space-1x);
  padding-inline: var(--space-2x);
  border-radius: var(---radius-1);
  font-weight: var(--fontweight-bold);
  text-transform: uppercase;
  text-box: trim-both cap alphabetic;

  &.positive {
    color: var(--clr-success-100);
    background: var(--clr-success-20);
  }

  &.negative {
    color: var(--clr-error-100);
    background: var(--color-error-bg, #ffebee);
  }

  &.neutral {
    color: var(--clr-pumpkin-100);
    background: var(--clr-pumpkin-20);
  }
}

.last-message {
  font-size: var(--fontsize--1);
  color: var(--clr-neutral-70);
}
