:host {
  --shadow-color: 20% 0.12 268.2deg;
  --shadow-elevation-low:
    0px 0.7px 0.6px oklch(var(--shadow-color) / 20%), 0px 1.1px 1px -2px oklch(var(--shadow-color) / 14%),
    0px 3.2px 2.8px -4.1px oklch(var(--shadow-color) / 9%);
  --shadow-elevation-medium:
    0px 0.7px 0.6px oklch(var(--shadow-color) / 21%), 0px 1.7px 1.5px -1.4px oklch(var(--shadow-color) / 17%),
    0px 5.7px 5px -2.7px oklch(var(--shadow-color) / 13%), 0px 15.8px 14px -4.1px oklch(var(--shadow-color) / 9%);
  --shadow-elevation-high:
    0px 0.7px 0.6px oklch(var(--shadow-color) / 22%), 0px 2.7px 2.4px -0.7px oklch(var(--shadow-color) / 19%),
    0px 6.4px 5.7px -1.4px oklch(var(--shadow-color) / 17%), 0px 14.1px 12.5px -2px oklch(var(--shadow-color) / 14%),
    -0.1px 28.2px 25px -2.7px oklch(var(--shadow-color) / 12%), -0.1px 50.9px 45px -3.4px oklch(var(--shadow-color) / 10%),
    -0.2px 84.8px 75px -4.1px oklch(var(--shadow-color) / 7%);
}
