:host {
  --space-0: clamp(0rem, 0rem + 0vw, 0rem);
  --space-1x: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2x: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
  --space-3x: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
  --space-4x: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --space-5x: clamp(1.25rem, 1.0761rem + 0.8696vw, 1.75rem);
  --space-6x: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
  --space-8x: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --space-10x: clamp(2.5rem, 2.3261rem + 0.8696vw, 3rem);
  --space-11x: clamp(2.75rem, 2.5761rem + 0.8696vw, 3.25rem);
  --space-12x: clamp(3rem, 2.8261rem + 0.8696vw, 3.5rem);
  --space-14x: clamp(3.5rem, 3.3261rem + 0.8696vw, 4rem);
  --space-16x: clamp(4rem, 3.7391rem + 1.3043vw, 4.75rem);
  --space-20x: clamp(5rem, 4.6522rem + 1.7391vw, 6rem);
  --space-24x: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);

  /* Custom pairs */
  --space-4x-13x: clamp(1rem, 0.0435rem + 4.7826vw, 3.75rem);
}
