:host {
  /* Family */
  --default-font-family: BootsSharp, sans-serif, system-ui;

  /* Sizing */
  --fontsize--1: clamp(0.8333rem, 0.8143rem + 0.0952vw, 0.9rem);
  --fontsize-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --fontsize-1: clamp(1.2rem, 1.1411rem + 0.2946vw, 1.4063rem);
  --fontsize-2: clamp(1.44rem, 1.3492rem + 0.454vw, 1.7578rem);
  --fontsize-3: clamp(1.728rem, 1.5939rem + 0.6704vw, 2.1973rem);
  --fontsize-4: clamp(2.0736rem, 1.8813rem + 0.9614vw, 2.7466rem);
  --fontsize-5: clamp(2.4883rem, 2.2183rem + 1.3499vw, 3.4332rem);

  /* Weight */
  --fontweight-light: 100;
  --fontweight-regular: 400;
  --fontweight-bold: 700;

  /* Letter spacing */
  --letterspacing-uppercase: 0.2ch;

  /* Linehight */
  --lineheight-100: 1;
  --lineheight-300: 1.3;
  --lineheight-500: 1.5;
  --lineheight-800: 1.8;
}
