@font-face {
  font-family: BootsSharp;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/BootsSharp-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: BootsSharp;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/BootsSharp-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: BootsSharp;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/BootsSharp-Regular.woff2")
    format("woff2");
}
