.error {
  display: flex;
  gap: var(--space-2x);
  align-items: center;

  svg {
    max-inline-size: 3rem;
  }

  p {
    font-weight: var(--fontweight-bold);
    color: var(--clr-error-100);
  }
}


.ellipsis-animation span {
  opacity: 0;
  animation: ellipsis-dot 1s infinite;
}

.ellipsis-animation span:nth-child(1) {
  animation-delay: 0.0s;
}

.ellipsis-animation span:nth-child(2) {
  animation-delay: 0.1s;
}

.ellipsis-animation span:nth-child(3) {
  animation-delay: 0.2s;
}


.ellipsis-animation span:nth-child(4) {
  animation-delay: 0.3s;
}

.ellipsis-animation span:nth-child(5) {
  animation-delay: 0.4s;
}

.ellipsis-animation span:nth-child(6) {
  animation-delay: 0.5s;
}


@keyframes ellipsis-dot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
