.loading {
  padding: var(--space-4x);
  color: var(--color-text-secondary);
  text-align: center;
}

.error {
  padding-block: var(--space-3x);
  padding-inline: var(--space-4x);
  border: var(--clr-error-100);
  border-radius: var(--radius-2);
  color: var(--clr-error-100);
  background: var(--clr-error-20);
}
