/* Hide spin buttons on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
  appearance: none;
}

input[type='number'] {
  appearance: textfield;
}
