:host {
  --flow-space: var(--space-3x);

  display: block;
}

.message {
  padding: var(--space-3x);


  &.incoming {
    max-inline-size: 70%;
    border-radius: var(--radius-4) var(--radius-4) var(--radius-4) 0;
    background: var(--clr-neutral-10);

    .message-time {
      font-size: var(--fontsize--1);
      color: var(--clr-neutral-50);
    }
  }

  &.outgoing {
    max-inline-size: 70%;
    margin-inline-start: auto;
    border-radius: var(--radius-4) var(--radius-4) 0 var(--radius-4);
    color: var(--clr-neutral-0);
    background: var(--clr-default-40);

    .message-time {
      font-size: var(--fontsize--1);
      color: var(--clr-default-30);
    }
  }
}
