details {
  --transition-duration: 400ms;
  --transition-curve: var(--springy-curve);

  border: 1px solid;
  border-color: var(--clr-neutral-40);
  border-radius: var(--border-4);
  transition: all;
  transition-duration: var(--default-duration);

  &[open] {
    border-color: var(--clr-default-40);
  }

  .heading {
    cursor: pointer;
    display: flex;
    gap: var(--space-1x);
    align-items: center;
    justify-content: space-between;
    padding: var(--compact-padding, var(--space-3x));
    list-style: none;
    outline: none;
  }

  .content {
    padding-block: var(--compact-padding, var(--space-6x));
    padding-inline: var(--compact-padding, var(--space-6x));
  }

  &:hover {
    background-color: var(--clr-default-20);
  }

  &:active {
    background-color: var(--clr-default-20);
  }
}

/* Icon transition */
details .vertical {
  transform-origin: center;
  transform: rotate(0deg);
  transition: transform var(--transition-duration) var(--transition-curve);
}

details[open] {
  svg .vertical {
    transform: rotate(90deg);
  }
}

/* Opening transitions */
::details-content {
  overflow: clip;
  block-size: 0;
  transition:
    block-size var(--transition-duration) var(--transition-curve),
    content-visibility var(--transition-duration) var(--transition-curve)
      allow-discrete;
}

[open]::details-content {
  content-visibility: visible;
  block-size: auto;
}
