@use 'sass:meta';

/* Define layers */
@layer reset {
  @include meta.load-css('./styles/reset');
}

@layer abstracts {
  @include meta.load-css('./styles/abstracts');
}

@layer global {
  @include meta.load-css('./styles/global');
}

@layer primitives {
  @include meta.load-css('./styles/primitives');
}

@layer utilities {
  @include meta.load-css('./styles/utilities');
}

/* Define layer order of precedence */
@layer reset, abstracts, global, primitives, utilities;

/* Body styles */

body {
  min-block-size: 100dvb;
  display: grid;
  grid-template-columns: 1fr [content-start] 80% [content-end] 1fr;

  >* {
    grid-column: content;
  }
}
