/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  block-size: 100%;
  text-size-adjust: none;
  color-scheme: light dark;
  interpolate-size: allow-keywords;
  font-size: 16px !important; // Undo 10px set by Bootstrap
}

/* Set body defaults */
body {
  min-block-size: 100vh;
  -webkit-font-smoothing: antialiased;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg,
audio,
iframe {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: center;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* Make it clear that interactive elements are interactive */
a[href],
area,
button,
input,
label[for],
select,
summary,
textarea {
  touch-action: manipulation;
  cursor: pointer;
}

input[type='file'] {
  cursor: auto;
}

/* Make sure users can't select button text */
button,
button[type],
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file']::-webkit-file-upload-button,
input[type='file']::file-selector-button {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* Remove wanted borders from fieldset elements */
fieldset {
  min-inline-size: 0;
  border: 0;
}

legend {
  border: 0;
  color: inherit;
  font-size: inherit;
}

/* Disabled cursor for disabled buttons */
:where(button, button[type], input[type='button'], input[type='submit'], input[type='reset'])[disabled] {
  cursor: not-allowed;
}

/* Smooth scrolling and animations from keywords */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }
}
